*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "黑体", Serif;
    font-size: 30px;
}
.wrap{
    width: 600px;
    margin: 50px auto;
}
#input input[type="text"]{
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 10px;

    line-height: 40px;
}
#input input[type="button"]{
    width: 50px;
    height: 40px;
    margin-right: 10px;

    line-height: 40px;

    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 10px;

}
#display{
    margin: 30px auto;
}
.num{
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px;

    line-height: 40px;
    text-align: center;

    background: #faa;
}