
*{
    /* TODO: 值为0一般不写单位, 你看, ws为你警示了*/
    margin : 0;
    padding : 0;
    /* TODO: font-family这个属性的值要注意, 后面加上", serif", 因为有可能某些设备上没有微软雅黑, 他就会选择默认的无衬线字体, 参考http://www.w3school.com.cn/cssref/css_websafe_fonts.asp*/
    /* TODO: 这个字体一般加载body上面, 然后让后代去继承*/

}
body{
    min-width: 1280px;
    font-family:  "微软雅黑",Serif;
    font-size: 12px;
}
/*header begin*/
header{
    width : 100%;
    height : 58px;
    margin : 0;
    vertical-align : middle;
}

header .header_left{
    /* TODO: 属性的书写顺序很重要, 这样便于维护, 参考http://codeguide.bootcss.com/*/
    /*position : relative;*/

    float : left;
    height : 58px;
    width : 150px;
    margin-left : 60px;
    padding : 0;

    vertical-align : middle;
    overflow: hidden;

}
header .pic1{
    height : 30px;
    width : 30px;
    margin: 9px 5px 9px 0;
}
/*
header .newworld{
    position: absolute;
    top : 15px;
    left : 36px;

    margin : 0;

    font-family: 黑体;
    font-size : 21px;
}*/
header .newworld{
    height: 58px;
    margin : 0;
    padding-left: 30px;

    font-family: 黑体;
    font-size : 21px;
    line-height: 58px;

    background: url("../img/header_pic1.png") no-repeat left center;
    background-size: 30px 30px;
}
header .header_right{
    float : right;
    height : 58px;
    width : 50px;

    margin-right: 60px;
    margin-left: 10px;
}


header .enroll{
    height: 58px;
    padding-left: 20px; /*留出图片位置*/

    font-size: 14px;
    color : #e74f4d;
    line-height: 58px;
    text-decoration: none;

    background-image: url('../img/header_pic2.png');
    background-repeat: no-repeat;
    background-position: left 50%;
}
/*header .pic2{
    margin : 19px 5px 0 0;
}*/

header nav ul li{
    float : right;
    line-height: 58px;
}
header li {
    display: inline-block;
    width : 65px;
    height : 58px;
    margin-right: 20px;

    list-style-type: none;
    text-align: center;

    border-bottom: 5px solid transparent;
}
header li a{
    font-size: 14px;
    color : #808080;

    text-decoration: none; /*去掉下划线*/
}
header .active {
    /* TODO: 这个地方没处理对, 你单方面给了它border会导致它的盒子变大哦. 具体参考"改进建议"*/
    border-bottom-color: #e74f4d;
    /*border-bottom: 5px solid #e74f4d;*/
}
header .first_page{
    color : #e74f4d;
}
header li a:hover{
    color : #e74f4d;
}


