*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "黑体", Serif;
    font-size: 30px;
}
.wrap{
    width: 600px;
    margin: 50px auto;
}
#input textarea{
    display: inline-block;
    width: 200px;
    height: 120px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: -15px;
    font-size: 20px;
    font-family: 黑体, sans-serif;
    line-height: 30px;
}
input[type="button"]{
    width: 50px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 10px;

}
#search {
    margin-top: 30px;
}
input[type="text"]{
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: -15px;
    font-size: 20px;
    font-family: 黑体, sans-serif;
    line-height: 30px;

}
#display{
    margin: 30px auto;
}
.data{
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px;

    line-height: 40px;
    text-align: center;

    background: #faa;
}
.search{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background: #666;
    color: #fff;
}